body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

#click-to-begin {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#correctAnswer {
  font-size: 10px;
  font-style: italic;
  font-family: fantasy;
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
