body {
  color : blue;
  font-style: Courier, monospace;
  margin-top: 50px;
}

h1 {
  color : black;
  font-style: Courier, monospace;
  margin-top: 70px;
}

.redacted {
  background-color: black;
  color : transparent;
}

.revealed {
  background-color: transparent;
  color : red;
}

.found {
  background-color: transparent;
  color : limegreen;
}
